/* start */

@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

body {
    font-family: 'Recursive', sans-serif;
    background-color: white !important;
}

/* main */
.slider-img img {
    height: 90vh;
    filter: brightness(30%);

}

.slider-caption .heading {
    font-size: 40PX;
}

.card-div .bgc-color {
    background-color: #F4FAFD;
}

/* footer */
footer {
    height: auto;
    width: 100%;
    background-color: black;
}

footer p {
    color: #E8E8E8;
}